<Ui>
    <VerticalStackPanel id="main-menu"
                        anchor="Center"
                        origin="Center"
                        width="30%"
                        height="*"
                        spacing="8"
                        grow-direction="Center"
                        cross-alignment="Center">
        <Text id="menu-title"
              width="*"
              height="*"
              text="Dreambit UI Examples"
              font="monogram"
              font-size="32"
              text-color="#FFFFFF"
              horizontal-alignment="Center" />

        <Button id="play-particles-button"
                width="45%"
                height="32"
                background-tint="#FFFFFF"
                hover-tint="#D8E8FF"
                pressed-tint="#9FB9D4">

            <Text width="*"
                  height="*"
                  text="Particles Example"
                  font="monogram"
                  font-size="18"
                  text-color="#FFFFFF" />
        </Button>

        <Button id="play-spacegame-button"
                width="45%"
                height="32"
                background-tint="#FFFFFF"
                hover-tint="#D8E8FF"
                pressed-tint="#9FB9D4">
            <Button.Background>
                <SpriteBrush sprite="Ui/red-button.sprite" />
            </Button.Background>

            <Text width="*"
                  height="*"
                  text="Space Game Example"
                  font="monogram"
                  font-size="18"
                  text-color="#FFFFFF" />
        </Button>

        <Button id="play-pong-button"
                width="45%"
                height="32"
                background-tint="#FFFFFF"
                hover-tint="#D8E8FF"
                pressed-tint="#9FB9D4">
            <Button.Background>
                <SpriteBrush sprite="Ui/red-button.sprite" />
            </Button.Background>

            <Text width="*"
                  height="*"
                  text="Pong Example"
                  font="monogram"
                  font-size="18"
                  text-color="#FFFFFF" />
        </Button>
    </VerticalStackPanel>
</Ui>
