/.idea/.idea.PixelariaEngine/.idea/.gitignore
/.idea/.idea.PixelariaEngine/.idea/encodings.xml
/.idea/.idea.PixelariaEngine/.idea/indexLayout.xml
/.idea/.idea.PixelariaEngine/.idea/vcs.xml

.idea/
.vs/