<Ui>
    <Texture    id="texture1"
                anchor="center"
                origin="center"
                width="96"
                height="32"
                sprite="Ui/red-button.sprite"
                tint="#FFFFFF"/>
    
    <Button id="text1"
            anchor="topleft"
            origin="topleft"
            fit-to-texture="true"
            text="test"
            text-color="#FFFFFF"
            sprite="Ui/red-button.sprite"
    />
</Ui>